<div class="container" id="mainFrame">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form id="myForm" class="form-signin">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-at" style="font-size:21px"></i></span>
                    <input id="ip_email" type="email" name="email" class="form-control" placeholder="Your email">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Your password">
                </div>
                <div id="cb_remember" class="checkbox">
                    <label>
                        <input type="checkbox" onclick="click_checkbox(this)"> Remember me 
                    </label>        
                    <span style="float: right;  cursor: pointer" onclick="func_new_account()">Create a account</span><br><br>
                </div>
                <input type="button" onclick="func_login()" class="btn btn-default btn-lg" value="Login">
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
</div>