<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/register.js" type="text/javascript"></script>

<div class="container" id="mainFrame">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form id="register_form">
                <input type="email" name="email" placeholder="Your email"><br><br>
                <input type="password" name="password" placeholder="Your password"><br><br>
                <input type="password" name="retype_password" placeholder="Retype your password"><br><br>
                <input type="button" onclick="sign_in()" class="btn btn-default" value="Sign in">
                <input type="button" onclick="back_login()" class="btn btn-default" value="Back">
            </form>
        </div>
    </div>
</div>
